div.sdmenu div:first-child{
    background: url(../img/1.jpg) no-repeat;
}

div.sdmenu div.collapsed{
    height: 25px;
}

div.sdmenu div span {
    display: block;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    padding: 5px 25px;
    font-weight: bold;
    color: white;
    background: url(../img/2.jpg) no-repeat 10px center;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}